MODEL_NAME="gemini-2.5-pro"
GITHUB_AGENT_URL="http://localhost:8001/"
GITHUB_PERSONAL_ACCESS_TOKEN="github_pat_aaa"
GOOGLE_CLOUD_PROJECT="prject-id"
GOOGLE_CLOUD_LOCATION="us-central1"
GOOGLE_GENAI_USE_VERTEXAI="True"
DATASTORE_PATH="projects/<PROJECT_ID>/locations/<REGION>/collections/default_collection/dataStores/<DATASTORE_ID>"